<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="container spacer">

<div class="panel panel-primary">
<div class="panel-heading">Liste des contactes</div>
<div class="panel-body">


  <div class="form-group">
<label>Mot clé:</label>
<input type="text"  [(ngModel)]="motCle" />
<button class="btn btn-primary" (click)="chercher()"> Chercher
</button>
  </div>
<table class="table table-striped">
  <tr>
    <th>ID</th>
    <th>Nom</th>
    <th>Prenom</th>
    <th>Email</th>
    <th>edit</th>
    <th>Delete</th>
  </tr>

<tr *ngFor="let item of pageContacts?.content">
<td>{{item.id}}</td>
<td>{{item.nom}}</td>
<td>{{item.prenom}}</td>
<td>{{item.email}}</td>
<td>
  <a (click)="onEditContact(item.id)" class="clickable"> Edit </a>
</td>
<td>
    <a (click)="onDeleteContact(item)" class="clickable"> Delete </a>
  </td>
</tr>
</table>
<div class="container">
<ul class="nav nav-pills">
  <li [ngClass]="{active:i==currentPage}"  *ngFor="let p of pages; let i=index" >
  <a class="clickaber" (click)="gotoPage(i)" > {{i}}  </a>
</li>
</ul>
</div>
  </div>
</div>
</div>
